html {
	font-size: 18px;
}

body {
	margin: 0;
	font-family: Helvetica;
}

header {
	background: black;
	color: white;
}

header .container {
	display: flex;
	align-items: center;
	padding:  0.66rem 0 0.66rem 0.5em;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

header img {
	height: 1.5rem;
	padding-right: 1rem;
}

.banner {
	background: url('../images/moto.jpeg') center no-repeat;
	background-size: cover;
	height: 25rem;
}
 
.headline {
    background-color: black;
	color: white;
	width: 20em;
	padding: 2em 3em;
	position: relative;
	top: 9rem;
	font-weight: bold;
}

nav {
	background-color: firebrick;
	color: white;
}

nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.75em 0;
	list-style: none;
}

.menu {
	display: none;
	text-align: center;
	padding: 0.75em 0;
}

.products {
	display: flex;
	justify-content: space-between;
	margin: 3rem 0;
}

.product {
	width: 30%;
}

.product-image {
	border: solid black 4px;
	padding: 2rem 0;
	height: 9rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-image img {
	max-width: 11rem;
	height: auto;
}

.description {
	display: block;
	background: black;
	color: white;
	padding: 0.5rem;
	text-align: center;
}

.business-info {
	margin-bottom: 4rem;
	display: flex;
	justify-content: space-between;
}

.item {
	width: 35%;
}

.item span {
	display: block;
}

.info {
	background-color: black;
	color: white;
	padding: 1rem 2rem;
}

footer {
	background: black;
	color: white;
	padding: 5rem 0;
}

@media only screen and (max-width: 1024px) {

	.product {
		width: 47%;
	}

	.glasses {
		display: none;
	}

	.full-menu {
		display: none;
	}

	.menu {
		display: block;
	}

	.container {
		max-width: 760px;
	}

@media only screen and (max-width: 510px) {

	.banner {
		height: 15rem;
	}

	.headline {
	   width: 100%;
	   padding: 1rem 2rem;
	   line-height: 0.5rem;
    }

    .headline h1 {
    	font-size: 1rem;
    }

    .headline h4 {
    	font-size: 0.77rem;
    }

    .watch {
    	display: none;
    }

    .product {
    	width: 90%;
    }

    .products {
    	justify-content: center;
    }

    .business-info {
    	flex-direction: column;
    	align-items: center;
    }

    .item {
    	margin-top: 0.5rem;
    	width: 90%;
    }

    footer {
    	text-align: center;
    }
}








